html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #124e74;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fefcec;
  background-color: rgba(26, 161, 216, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header__title {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  color: #fefcec;
  margin-left: 1em;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  list-style: none;
  font-size: 1.2em;
  margin: 0 0.4em;
  padding-top: 0.9em;
}

.navigation__item a {
  color: #fefcec;
  padding: 1em;
}

.navigation__item a:hover,
.navigation__item a:active {
  background-color: #fefcec;
  color: #1aa1d8;
}

.title {
  font-size: 1.5em;
  color: #fefcec;
  text-align: center;
  margin-top: 5em;
}

.title__text {
  margin: 0;
}

.title__name {
  margin: 0.5em;
}

.about-title {
  width: 300px;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  text-align: center;
  color: #1aa1d8;
  margin: 0 auto;
  margin-bottom: 2px;
  background-color: #fefcec;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid rgba(209, 206, 206, 0.7);
}

.about-title--left {
  margin-left: 1em;
}

.skills-title {
  width: 300px;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  text-align: center;
  color: #1aa1d8;
  margin: 0 auto;
  margin-bottom: 2px;
  background-color: #fefcec;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid rgba(209, 206, 206, 0.7);
}

.work-title {
  width: 300px;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  text-align: center;
  color: #1aa1d8;
  margin: 0 auto;
  margin-bottom: 2px;
  background-color: #fefcec;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid rgba(209, 206, 206, 0.7);
}

.work-title--right {
  margin-right: 1em;
}

h3 {
  margin: 0.1em 0 0 0;
  font-size: 1.2em;
  text-align: center;
}

.about,
.skills,
.work {
  max-width: 900px;
  margin: 0 auto;
}

.placeholder {
  height: 4.5rem;
}

.about-container {
  min-height: 600px;
  background-color: #fefcec;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(209, 206, 206, 0.7);
  -webkit-box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
          box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
  display: -ms-grid;
  display: grid;
  padding: 2em 3em;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  -ms-grid-columns: (minmax(14em, 1fr))[3];
      grid-template-columns: repeat(3, minmax(14em, 1fr));
  -ms-grid-rows: (minmax(14em, 1fr))[3];
      grid-template-rows: repeat(3, minmax(14em, 1fr));
}

.about-container__item {
  min-height: 11em;
  padding: 2.5em;
  border-radius: 5px;
  border: 1px solid rgba(209, 206, 206, 0.5);
  -webkit-box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
          box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-container__item p {
  text-align: center;
}

.skills-container {
  min-height: 600px;
  background-color: #fefcec;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(209, 206, 206, 0.7);
  -webkit-box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
          box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
  display: -ms-grid;
  display: grid;
  padding: 2em 3em;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  -ms-grid-columns: (minmax(14em, 1fr))[3];
      grid-template-columns: repeat(3, minmax(14em, 1fr));
  -ms-grid-rows: (minmax(14em, 1fr))[3];
      grid-template-rows: repeat(3, minmax(14em, 1fr));
}

.skills-container__item {
  min-height: 11em;
  padding: 2.5em;
  border-radius: 5px;
  border: 1px solid rgba(209, 206, 206, 0.5);
  -webkit-box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
          box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-container__item p {
  text-align: center;
}

.svg {
  width: 70%;
  margin: 0 auto;
}

.work-container {
  min-height: 600px;
  background-color: #fefcec;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(209, 206, 206, 0.7);
  -webkit-box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
          box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
  display: -ms-grid;
  display: grid;
  padding: 2em 3em;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  -ms-grid-columns: (minmax(15em, 1fr))[3];
      grid-template-columns: repeat(3, minmax(15em, 1fr));
  -ms-grid-rows: (minmax(20em, 1fr))[2];
      grid-template-rows: repeat(2, minmax(20em, 1fr));
  padding: 3em;
  gap: 2em;
}

.work-container__item {
  min-height: 11em;
  padding: 2.5em;
  border-radius: 5px;
  border: 1px solid rgba(209, 206, 206, 0.5);
  -webkit-box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
          box-shadow: 3px 4px 5px rgba(209, 206, 206, 0.7);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.5em;
  min-height: 15em;
}

.work-container__item img {
  max-width: 100%;
  height: auto;
  border: 3px solid #353434;
  margin-bottom: 1em;
}

.work-container a {
  color: #124e74;
}

.about-container__item--first {
  background-color: #fdde86;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  padding: 1.5rem;
}

.about-container__item--second {
  background-color: #fdd872;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.about-container__item--third {
  background-color: #feb685;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2/2/4;
  padding: 1.5rem;
}

.about-container__item--fourth {
  background-color: #fdde86;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.about-container__item--fifth {
  background-color: #fdd872;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.about-container__item--sixth {
  background-color: #feb685;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3/2/4/4;
  padding: 1.5rem;
}

.skills-container__item--first {
  background-color: #fdde86;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
  padding: 0.5rem;
}

.skills-container__item--second {
  background-color: #fdd872;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  padding: 1.5rem;
}

.skills-container__item--third {
  background-color: #feb685;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.skills-container__item--fourth {
  background-color: #fdde86;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

.skills-container__item--fifth {
  background-color: #fdd872;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3/2/4/4;
  padding: 1.5rem;
}

.skills-container__item--sixth {
  background-color: #feb685;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.work-container__item--first {
  background-color: #fdde86;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.work-container__item--second {
  background-color: #fdd872;
}

.work-container__item--third {
  background-color: #feb685;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em 0 0 0;
}

.contact__copy {
  margin-top: 0.5em;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container__item {
  list-style: none;
  width: 3em;
  margin: 0 1em;
}

.contact-container__item img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.attribution {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.attribution a {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
  .header {
    display: block;
  }
  .header__title {
    font-size: 2em;
    position: absolute;
    top: 1.5em;
    margin-left: 0.3em;
  }
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation__item {
    font-size: 1.1em;
    padding: 0.6em 0;
  }
  .navigation__item a {
    padding: 0.7em;
  }
  .title {
    font-size: 1em;
    margin-top: 6em;
  }
  .title__name {
    margin: 0;
  }
  .about-title,
  .skills-title,
  .work-title {
    width: 150px;
    font-size: 1.8em;
  }
  .about-title--left,
  .work-title--right {
    margin-left: auto;
    margin-right: auto;
  }
  .about,
  .skills,
  .work {
    max-width: 300px;
  }
  .work-container,
  .skills-container,
  .about-container {
    display: block;
    padding: 3em;
  }
  .placeholder {
    height: 2.2rem;
  }
  .about-container__item,
  .skills-container__item,
  .work-container__item {
    padding: 1.5em;
    min-height: 100px;
    margin: 5px 0;
  }
  .skills-container__item p {
    margin: 0;
  }
  .contact {
    max-width: 300px;
    font-size: 0.8em;
  }
  .attribution {
    max-width: 300px;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 400px) and (max-width: 870px) {
  body {
    font-size: 16px;
  }
  .header__title {
    font-size: 1.8em;
  }
  .navigation__item {
    font-size: 1em;
    padding: 0.7em 0;
  }
  .navigation__item a {
    padding: 0.8em;
  }
  .title {
    font-size: 1.4em;
    margin-top: 3em;
  }
  .title__name {
    margin: 0;
  }
  .about-title,
  .skills-title,
  .work-title {
    width: 200px;
    font-size: 2em;
  }
  .about,
  .skills,
  .work {
    min-width: 400px;
    width: 600px;
  }
  .about-container {
    -ms-grid-columns: (minmax(15em, 1fr))[2];
        grid-template-columns: repeat(2, minmax(15em, 1fr));
    -ms-grid-rows: (minmax(10em, 1fr))[4];
        grid-template-rows: repeat(4, minmax(10em, 1fr));
    -webkit-column-gap: 2.5em;
            column-gap: 2.5em;
    padding: 2.5em 2.5em 0 2.5em;
  }
  .skills-container {
    -ms-grid-columns: (minmax(15em, 1fr))[2];
        grid-template-columns: repeat(2, minmax(15em, 1fr));
    -ms-grid-rows: (minmax(10em, 1fr))[4];
        grid-template-rows: repeat(4, minmax(10em, 1fr));
    -webkit-column-gap: 2.5em;
            column-gap: 2.5em;
    padding: 1.5em 2.5em;
  }
  .work-container {
    -ms-grid-columns: (minmax(15em, 1fr))[2];
        grid-template-columns: repeat(2, minmax(15em, 1fr));
    -ms-grid-rows: (minmax(10em, 1fr))[3];
        grid-template-rows: repeat(3, minmax(10em, 1fr));
    -webkit-column-gap: 2em;
            column-gap: 2em;
    padding: 2em;
  }
  .placeholder {
    height: 3rem;
  }
  .about-container__item,
  .skills-container__item,
  .work-container__item {
    padding: 2.5em;
    min-height: 8em;
  }
  .about-container__item--first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    padding: 1rem;
  }
  .about-container__item--second {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .about-container__item--third {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
    padding: 1rem;
  }
  .about-container__item--fourth {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4/1/5/3;
  }
  .about-container__item--sixth {
    grid-column-end: 3;
    padding: 3rem 1rem;
  }
  .skills-container__item--first {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
    padding: 1rem;
  }
  .skills-container__item--second {
    padding: 1rem;
  }
  .skills-container__item--fifth {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4/1/5/3;
    padding: 1rem;
  }
  .work-container__item {
    padding: 1.5em;
  }
  .contact {
    max-width: 600px;
    font-size: 0.9em;
  }
  .attribution {
    max-width: 600px;
    font-size: 0.6em;
  }
}

#screen {
  -webkit-animation: screen-slide 4s ease-in-out infinite;
          animation: screen-slide 4s ease-in-out infinite;
}

@-webkit-keyframes screen-slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes screen-slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#notebook {
  -webkit-animation: notebook-slide 4s ease-out infinite;
          animation: notebook-slide 4s ease-out infinite;
}

@-webkit-keyframes notebook-slide {
  0% {
    -webkit-transform: scale(0) translateY(-200px);
            transform: scale(0) translateY(-200px);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes notebook-slide {
  0% {
    -webkit-transform: scale(0) translateY(-200px);
            transform: scale(0) translateY(-200px);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

#comp {
  -webkit-animation: comp-fade 5s linear both infinite;
          animation: comp-fade 5s linear both infinite;
}

@-webkit-keyframes comp-fade {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
  }
  75% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
}

@keyframes comp-fade {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
  }
  75% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
}

#tablet {
  -webkit-animation: tablet-fade 5s linear both infinite;
          animation: tablet-fade 5s linear both infinite;
}

@-webkit-keyframes tablet-fade {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
}

@keyframes tablet-fade {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
}

#phone {
  -webkit-animation: phone-fade 5s linear both infinite;
          animation: phone-fade 5s linear both infinite;
}

@-webkit-keyframes phone-fade {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
  }
  25% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
}

@keyframes phone-fade {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
  }
  25% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
  }
}

#react-icon {
  -webkit-animation: react-rotate 4s linear infinite;
          animation: react-rotate 4s linear infinite;
}

@-webkit-keyframes react-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes react-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
/*# sourceMappingURL=style.css.map */